@{
    ViewData["Title"] = "Create";
    ViewBag.Link = "Create";

}

<h1 class="text-center">Create a new Dependent</h1>

<partial name="_CreateUpdatePartial" model="Model" />


@section Scripts{
    <script src="~/js/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

